@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 700;
    font-display: optional;
    src: url(/fonts/inter-var-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  :host,
  body {
    .wmde-markdown-var[data-color-mode*='dark'] {
      --color-canvas-default: transparent;
      --color-border-default: theme('colors.gray.400');
      --color-fg-default: theme('colors.white');
      @apply text-[15px];
    }
  }
}
@layer base {
  :host,
  body {
    @apply bg-gray-500 text-white;
  }

  ::-webkit-scrollbar {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar:horizontal {
    @apply h-2 w-4;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-[1px] border-white bg-gray-200;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-100;
  }
}
