.permissions .ship-data {
    align-items: flex-start;
    margin-top: -1em;
}

.permissions .ship-data span {
    color: var(--light-gray);
}

.permissions .ship-data p.shipname {
    margin: 0;
    display: flex;
    margin-top: -5px;
}

.requesting-domain {
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    justify-content: center;
    margin-top: -1.5em;
}

.permission-request-list {
    height: 225px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.permission-request-list ul {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}

.align-left {
    text-align: left;
}

.requesting-domain:hover {
    text-decoration: underline;
}

.permslist {
    overflow-y: scroll;
    text-align: left;
}

.empty-container {
    margin-top: 2em;
}

.empty-container p {
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--background-color-contrast);
}

.perms-flex-grow-wrapper {
    display: inline;
    overflow: auto;
    flex-direction: column;
    flex-grow: 1;
}

.collapse-header {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.domain {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid var(--background-color-tint);
}

.extension-id-tooltip {
    position: fixed;
    padding: 0.1rem 0.5rem;
    font-size: 12px;
    border: 1px solid var(--foreground);
    background-color: #1a1c1b;
    border-radius: 8px;
    color: white;
    z-index: 900;
}

.border-none {
    border: none;
}

.domain:last-child {
    border: none;
}

.domain-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 90%;
    word-wrap: break-word;
    margin: 0;
    margin-left: -5px;
}

.arrow-up,
.arrow-down {
    margin-right: 1em;
    width: 10px;
    transition: 0.07s ease;
}

.arrow-up {
    transform: rotate(0deg);
}

.arrow-down {
    transform: rotate(-90deg);
}

.permission-string {}

.permission-string:hover {
    color: var(--background-color-tint);
    font-weight: 500;
    cursor: pointer !important;
}

.permission-string .chip:hover {
    background-color: var(--alert-color);
    cursor: pointer !important;
}

.permission-string .chip:hover .revoke {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.chip {
    background: var(--background-color-tint);
    border-radius: 10px;
    padding: 8px 15px;
    margin-bottom: 5px;
    width: 100%;
    cursor: auto !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chip .perm-label {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0;
}

.chip .perm-description {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--light-gray);
    margin: 0;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.chip .revoke {
    font-weight: 600;
    margin: 0;
    margin-left: 0.5em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--light-gray);
}

.minibutton {
    margin: auto 0;
    width: 28px;
    height: 28px;
    font-size: 0.7rem;
    padding: 8px;
    text-transform: none;
    background: transparent;
}

.perm-deletion-confirmation-container {
    background: #060505b3;
    margin-top: 1em;
    width: 100%;
    height: 100%;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 8888;
}

.perm-deletion-confirmation-prompt {
    background: #252d29;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    left: 0;
    padding: 1.5em;
    border-radius: 20px 20px 0 0;
    z-index: 9999;
}

.perm-deletion-confirmation-prompt .title {
    margin: 0 0 0.8em;
    font-size: 14px;
    line-height: 16px;
    font-weight: bolder;
}

.perm-deletion-confirmation-prompt .subtitle {
    margin-top: -0.5em !important;
    font-size: 11px !important;
}

.permission-search {
    margin-top: 1em;
}