# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/.nx
.env

# System Files
.DS_Store
Thumbs.db
apps/shinkai-visor-e2e/src/shinkai-node/db
!apps/shinkai-visor-e2e/src/shinkai-node/db/.secret
apps/shinkai-visor-e2e/src/shinkai-node/qr_code_device_0.png
qr_code_device_0.png
apps/shinkai-visor-e2e/test-report
apps/shinkai-desktop/src-tauri/storage
apps/shinkai-desktop/src-tauri/node_storage

apps/shinkai-desktop/src-tauri/bin/ollama-windows-resources/*
apps/shinkai-desktop/src-tauri/bin/*
launch.json
