.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: var(--background-color-contrast);
  margin: 0;
}
.mid-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--background-color-contrast);
}
.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--light-gray);
  margin: 6px 0;
}
.icon {
  width: 27px;
}

.tooltip-title {
  vertical-align: super;
  top: 10px;
  position: relative;
  margin-left: 3px;
}

.container-progress {
  width: 100%;
  height: 4px;
  background: var(--background-color-shade);
  margin-bottom: 2em;
  position: relative;
}
.container-progress .progress-bar {
  height: 4px;
  background: var(--primary-color);
  border-radius: 50px;
  transition: all 0.5s;
}
.container-progress .progress-step {
  font-size: 10px;
  line-height: 16px;
  color: var(--medium-gray);
  position: absolute;
  right: 0;
  top: calc(100% + 4px);
}
