<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="utf-8" />
    <title>ShinkaiVisor</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/theme/styles.css" />
  </head>
  <body class="w-full h-full">
    <div id="root" class="w-full h-full"></div>
    <script type="module" src="/src/components/popup/popup.tsx"></script>
  </body>
</html>
