.settings {
  width: 100%;
  justify-content: flex-start !important;
}
.settings h1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--foreground);
  margin-bottom: 0;
  padding-top: 0;
}
.no-margin {
  margin-bottom: 0 !important;
}

.settings-option {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--background-color-tint);
}
.settings-option a {
  cursor: pointer;
  display: flex;
}
.settings-option:last-of-type {
  border-bottom: none;
}
.settings-option-text {
  text-align: left;
  flex-grow: 1;
}
.settings-option-text h3 {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--background-color-contrast);
  margin: 0;
}
.settings-option-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--light-gray);
  margin: 5px 20px 0 0;
}
.settings-option-icon {
  width: 8px;
}

.change-password-form {
  width: 80%;
  padding: 1rem;
  margin: auto;
}
.remove-ships-list {
  padding: 0;
  overflow-y: auto;
}
.ship-to-remove {
  display: flex;
  justify-content: space-between;
  padding: 10px 1em;
  background: var(--background-color-tint);
  border-radius: 12px;
  margin-bottom: 0.5em;
}
.ship-to-remove p.monname {
  width: 170px;
}
.ship-to-remove p span {
  width: 100%;
  /* flex-grow: 1; */
}
.ship-to-remove button {
  width: 30px;
  height: 30px;
}
.mini-sigil-wrapper {
  margin: auto 0;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 1em;
}
.ship-to-delete {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--light-gray);
  margin-bottom: 2em;
}
.sigil-wrap {
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
  border-radius: 6px;
}

/* toggle */
.popup-settings {
  margin-top: 1rem;
}
.option {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
  border-bottom: 1px solid var(--background-color-tint);
}
.option p {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--background-color-contrast);
}

.popup-settings input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.popup-settings input :focus {
  outline: 0;
}

.toggle {
  height: 22px;
  width: 44px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: auto 0;
  border: 2px solid var(--medium-gray);
  background: transparent;
  transition: all 0.2s ease;
  background: var(--background-color-tint);
}

.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.toggle:checked {
  border-color: var(--primary-color);
}
.toggle:checked:after {
  transform: translatex(20px);
  background: var(--primary-color);
}

/* //containers */

.permission-container,
.ship-removal-confirmation,
.change-password-container,
.reset-app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.ship-removal-confirmation,
.change-password-container,
.reset-app-container {
  justify-content: space-between;
}
.ship-removal-confirmation div div.text p {
  font-size: large;
  font-weight: 600;
  color: white !important;
}
.change-password-container .form-password-container {
  margin-bottom: 6em;
}

.reset-app-container .alert-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.reset-app-container .alert-container p,
.reset-app-container .alert-container h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-gray);
  margin: 0;
}
.reset-app-container .alert-container h5 {
  font-weight: 600;
  color: var(--background-color-contrast);
}
