{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ],
    [
        "@babel/preset-env",
        {
            "modules": false
        }
    ],
    "@babel/preset-react"
],
  "plugins": []
}
