.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2.5em 1.5em 1.5em;
}

.about-container h1.agrihan-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--background-color-contrast);
  margin: 0;
}
.about-version p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--light-gray);
}
.about-description {
  border-top: 1px solid #252d29;
}
.about-description p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--background-color-contrast);
  text-align: center;
}
.about-created-by {
  background: var(--background-color-contrast);
  padding: 0.5em 0.5em 0.2em;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 6%;
}
.about-dcspark-logo {
  width: 150px;
  padding: 5px;
}
