#shinkai-action-button-root {
    overflow-y: hidden;
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 999999;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #FE6162;
    border-width: 1px;
}
